@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: Lato, Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* Only works in dark mode */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { @apply font-medium text-primary; } /* theme primary text */
a:hover { @apply hover:text-primary/80; }

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif; /* Use the font name provided by Google */
}

#app {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

/* Adds stuff on top of Daisy's theme. Looks kinda nice. */
button {
  border-radius: 8px;  /* Less rounded */
  /* background-color: #1a1a1a; */
}
