@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: Lato, Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* Only works in dark mode */
  /* Todo: Change background to a nice textured dark */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { @apply font-medium text-primary; } /* theme primary text */
a:hover { @apply hover:text-primary/80; }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif; /* Use the font name provided by Google */
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Adds stuff on top of Daisy's theme. Looks kinda nice. */
button {
  border-radius: 8px;  /* Less rounded */
  /* background-color: #1a1a1a; */
}

/* Adds a second border on top of Daisy's theme. Looks kinda nice. */
/* button:hover {
  border-color: #646cff;
} */

